@media (max-width: 840px) {
	.main {
		width: 100%;
	}
	
	.top h1 {
		font-size: 35px;
	}

	.clear {
		clear: left;
	}

	button {
		margin-top: 20px;
		width: 150px;
	}

	.food {
		display: inline;
		text-align: center;
		padding-top: 20px;
		vertical-align: top;

	}
}

@media (max-width: 1200px){
	img {
		width: 250px;
		height: 250px;
	}

	.food {
		vertical-align: top;
	}
}